@media screen and (min-width:768px) and (max-width:991px) {
    .branding_section h2 {
        font-size: 45px;
    }
    .branding_content p {
        font-size: 12px;
    }
    .branding_sec {
        margin: 50px 0;
    }
    .branding_section {
        padding: 60px 0px;
    }
    .branding_content h3 {
        font-size: 20px;
    }
    .agency_sec span {
        font-size: 16px;
    }
}
@media screen and (min-width:991px) and (max-width:1024px) {
    .branding_section h2 {
        font-size: 45px;
    }
    .branding_section {
        padding: 60px 0;
    }
    .branding_sec {
        margin: 50px 13px;
    }
    .branding_content h3 {
        font-size: 23px;
    }
}
@media screen and (min-width:320px) and (max-width:575px) { 
    .branding_sec {
        margin: 50px 20px;
    }
    .branding_content p {
        font-size: 15px;
    }
    .branding_section {
        padding: 60px 20px;
    }
    .branding_content h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 55px;
    }
    .branding_section h2 {
        font-size: 42px;
        line-height: 58px;
    }
    .branding_sec {
        margin: 50px 0px 0;
    }
}
@media screen and (min-width:576px) and (max-width:767px) { 
    
}
@media screen and (min-width:1100px) and (max-width:1350px) { 
    .banner_rightside img {
        width: 100%;
    }
    .banner_section {
        height: 750px;
    }
    .gzrjDL {
        right: 5rem !important;
    }
    .banner_leftside h1 {
        font-size: 45px;
    }
    .banner_leftside p {
        font-size: 15px;
    }
    .overview_leftside h1 {
        font-size: 45px;
    }
    .overview_leftside p {
        font-size: 15px;
    }
    .branding_section h2 {
        font-size: 45px;
    }
    .studio_heading {
        font-size: 81px;
        line-height: 137px;
    }
    .studio_icon1 {
        right: 149px;
        bottom: 202px;
        width: 90px;
        height: 90px;
    }
    .studio_icon {
        width: 90px;
        height: 90px;
    }
    .studio_arrow {
        margin: 0px 15px;
    }
}
@media screen and (min-width:1350px) and (max-width:1500px) { 
    
}